.navs{height:100px;font-family: 'Barlow', sans-serif;font-size: 19px;background-color: black!important;}
#navbarmobile{display: none;}
.taille{width:29px;height: 29px;}
.hau1{margin-top: 38px;}
.g{margin-top: 30px;}
.g1{margin-top: 9rem;line-height:10px;}
.d{margin-left: 100px;}
.image1{position: relative;}
.ab{  position: absolute;  left: 11rem;  bottom:7rem;}
.ab1{position: absolute;left: 7rem;bottom:5rem;}
a:hover {border-bottom: 1px solid #1a58a1;color: #1a58a1!important;}
/**********************titre**********************************/
.titrerecapitulatif{text-align: center;font-family: 'Barlow', sans-serif;font-weight: 900;font-size: 40px;margin-top: 3rem;}
.margtitre{margin-top: 5rem;}
.col1 {height: 5.9rem;position: absolute;background-color: black;}
.navbar2{width: 100%;height: 6rem; border:2px solid  black;padding: 0; margin-top: 6rem;position: relative;}
.col11 {height: 5.9rem;position: absolute;background-color: black; width:1rem;margin-left: -5rem;}
#btnconnexionpanier{display: none;}
#btnadressepanier{display: none;}
.recapitulatifjs{text-align: center;margin-top: 2rem;font-family: 'Barlow', sans-serif;font-weight: 400;font-size: 20px;color: white;}
.recapitulatif{text-align: center;margin-top: 2rem;font-family: 'Barlow', sans-serif;font-weight: 400;font-size: 20px;color: white;}
.flech{ position: absolute;font-family: 'Barlow', sans-serif;font-weight: 500;font-size: 4rem;margin-top: -3.7rem;margin-left: 4rem;color: white;}
.connexionmenu{text-align: center;margin-top: 2rem;font-family: 'Barlow', sans-serif;font-weight: 400;font-size: 20px;color: black;margin-left: 30px;}
.flech1{position: absolute;font-family: 'Barlow', sans-serif;font-weight: 500;font-size: 4rem;margin-top: -3.7rem;margin-left: 2rem;color:black;}
.stdetaile{text-decoration:none;color: white;font-family: 'Barlow', sans-serif;font-weight:400;font-size: 18px;text-align: center;}
.stdetaile:hover{text-decoration:none;border: none;color: white;font-family: 'Barlow', sans-serif;font-weight:400;font-size: 18px;text-align: center}
#barre{display: none;width: 8rem;height: 2rem;background-color: black;color: white;border-top: none;border-left: none;border-right: none;}
.position1{text-align: center;margin-top: 2rem;font-family: 'Barlow', sans-serif;font-weight: 400;font-size: 20px;color: black;margin-left: -5rem;}
.stdetaile span {visibility: hidden;}
.stdetaile img:hover + span {visibility: visible;}
/************************image********************************/
.des{position: relative;width: 10rem;height: 20rem;}
.pre1{position: relative;width: 15rem;height: 17rem;margin-top: 10rem;margin-left: 4rem;border-radius: 10px;border: 10px solid #ffffff;}
.text {position: absolute;color: white;font-family: 'Barlow', sans-serif;font-weight:400;font-size: 30px;left: 12%;text-align: center;margin-left: 2.5rem;margin-top: 5%;}
.textt {position: absolute;color: white;font-family: 'Barlow', sans-serif;font-weight:900;font-size: 70px;left: 34%;top: 22%;text-align: center;}
.texttt {position: absolute;top: 64%;left: 27%;}
.voir{color: white;font-family: 'Barlow', sans-serif;font-weight:400;font-size: 18px;text-align: center;}
.voir::after{content: "";width: 2.3rem;height: 8px;position: absolute;border-bottom: 2px solid #1a58a1;margin-left: -4.5rem;margin-top: 1.3rem;}
.overlay {position: absolute;top: 10rem;left: 4rem;height: 17rem;width: 15rem;opacity: 0;transition: .5s ease;background-image: url(image/backgroundop.jpg);}
.des:hover .overlay {opacity: 1;}
.autocollant{color:black;font-family: 'Barlow', sans-serif;font-weight:900;font-size: 18px;margin-top: 15rem;}
.reference{color:black;font-family: 'Barlow', sans-serif;font-weight:500;font-size: 16px;}
.gr{font-family: 'Barlow', sans-serif;font-weight: 500;font-size:20px;}
.e{color:black;font-family: 'Barlow', sans-serif;font-weight:900;font-size: 18px;margin-top: 10rem;position: relative;}
.laquantite::after{content: "";width: 27rem;height: 8px;position: absolute;border-bottom: 2px solid black;margin-left: -2rem;margin-top: 13rem;}
.traitpanierfn::after{content: "";width: 92%;height: 8px;position: absolute;border-bottom: 2px solid black;margin-left: 3.5rem;margin-top: 6rem;}
.ds{border-bottom: 1px solid black;margin-top: 5rem;margin-left: -3rem;}
#menupanier1{display: none;}
.tpanier{position: relative;margin-top:-50px;margin-left: 2.5rem;}
.tpanier::after{content: "";width: 5rem;height: 8px;position: absolute;border-bottom: 2px solid black;margin-left: -4rem;margin-top: 2rem;}
.prixpanier{border:none ;text-align:center;font-size:25px;font-family: 'Barlow', sans-serif;font-weight: 200;color: #black;margin-top: 6rem;margin-left: 1rem;}
.btnsupp{  width: 18px;  height: 18px;  margin-top: 6.8rem;  margin-left: -2rem;}
.tapanier{position: absolute;width:1.8rem;height: 1.5rem;}
.taapanier{position: absolute;padding-top: 2px;width:1.8rem;height:1.5rem;}
.threed{margin-top: 9rem;margin-left: 7rem;display: inline;}
.visa{margin-top:9rem;margin-left:1rem;}
.paypal{  margin-top: 9rem;  margin-left: 1rem;}
.totalepanierfn{color:black;font-family: 'Barlow', sans-serif;font-weight:900;font-size: 35px;position: absolute;margin-top: 8rem;margin-left: 26rem;}
.prixpanierfn{color:black;font-family: 'Barlow', sans-serif;font-weight:100;font-size: 35px;}
.textepaniere{color: #1a58a1;text-align: center;font-family: 'Barlow', sans-serif;font-weight:100;}
.boutonpaniercommander{width: 20rem;margin-left: 5rem;margin-bottom: 10rem;background-color: white;border: 1px solid #1a58a1;border-radius: 10px;font-size: 35px;padding-bottom: 2px;}
.bla{display: none;}
.autocollante{display: block;color:black;font-family: 'Barlow', sans-serif;font-weight:900;font-size: 18px;margin-top: 10rem;}
.autocollanteresine{display: none;}
.btnsuppmobile{display: none;}
.pre1mobile{display: none;}
.autocollanteresinemobile{display: none;}
.totalepromobile{display: none;}
.visamobile{display: none;}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .bla{display: block;}
  .cacherpanier2{display: none;}
  .cacherelemntpanier{display: none;}
  .col1{height: 17rem;}
  .recapitulatif{font-weight: 400;font-size: 6rem;margin-top: 4rem!important;margin-left: -6rem!important;}
  .titrerecapitulatife{text-align: center;font-family: 'Barlow', sans-serif;font-weight: 900;font-size: 4rem;margin-top: 3rem;}
  .flech{position: absolute;font-family: 'Barlow', sans-serif;font-weight: 500;font-size: 9rem;margin-top: -4rem;margin-left: 8rem!important;color: white;}
  .pre1{position: relative;width: 15rem;height: 17rem;margin-top: 30rem;margin-left: 4rem;border-radius: 10px;border: 10px solid #ffffff;}
  .autocollant{display: none;}
  .autocollanteresine{display: block;color:black;font-family: 'Barlow', sans-serif;font-weight:900;font-size: 4rem;margin-top: 0rem;text-align: center;}
  .autocollanteresinemobile{position: absolute;display: block;color:black;font-family: 'Barlow', sans-serif;font-weight:900;font-size: 5rem;margin-top: 14rem;margin-left: 2rem;text-align: center;}
  .numbermobile{margin-top: 8rem;margin-left: 30rem;position: relative;}
  .ds{position: absolute;text-align:center; font-size:9rem!important;font-weight: 500!important;margin-top: 1rem;margin-left: -40px;}
  .btnsuppmobile{  display: block;width: 6rem;height: 6rem;margin-top: 3rem;margin-left: 45rem;}
  .pre1{display: none;}
.pre1mobile{position: absolute;display: block;width: 35rem;height: 75rem;margin-top: 32rem;margin-left: 12rem;}
.vermobile{position: relative;}
.reference{position: relative;color:black;font-family: 'Barlow', sans-serif;font-weight:500;font-size: 50px;padding-top: 60rem;margin-left: 25rem;}
.referencemobile{ position: absolute;color:black;font-family: 'Barlow', sans-serif;font-weight:500;font-size: 50px;margin-top: 64rem;padding-top: 2rem;  margin-left: 17rem;}
.gr{  font-family: 'Barlow', sans-serif;font-weight: 500;font-size:60px;}
.qte{display: none;}
.autocollanteversionmobile{display: none;}
.laquantite{position: relative;}
.tapaniermobile{position: absolute;  width:7rem;  height: 6rem;  margin-top: -7rem;}
.taapaniermobile{position: absolute;padding-top: 5rem;width:7em;height:11rem;margin-top: -5rem;}
.tpaniermobile{position: relative;margin-top:8rem;margin-left: 20rem;}
.tpaniermobile::after{content: "";width: 18rem;height: 8px;position: absolute;border-bottom: 8px solid black;margin-left: -20rem;margin-top: 5rem;}
.totalepromobile{position: absolute;display: block;color:black;font-family: 'Barlow', sans-serif;font-weight:900;font-size: 5rem;margin-top: 35rem;margin-left: 1rem;text-align: center;}
.totaledesctop{display:none;}
.prixpaniermobile{position: absolute;display: block;color:black;font-family: 'Barlow', sans-serif;font-weight:500;font-size: 5rem;margin-top: 14rem;margin-left: 40rem;text-align: center;}
.totalepromobile::after{content: "";width: 61rem;height: 8px;position: absolute;border-bottom: 8px solid black;margin-left: -32rem;margin-top: 10rem;}
.totalesimobile{position: relative;margin-left: -6rem;margin-top: 8rem;}
.totalepanierfnmobile{position: absolute;color:black;font-family: 'Barlow', sans-serif;font-weight:900;font-size: 6rem;position: absolute;margin-top: 15rem;margin-left: 15rem;}
.prixpanierfn{position: absolute;color:black;font-family: 'Barlow', sans-serif;font-weight:500;font-size: 7rem;position: absolute;margin-top: -1rem;margin-left: 5rem;}
.btnmobile{position: relative;}
.boutonpaniercommander{width: 45rem;height: 12rem;margin-left: 6rem;margin-top: 32rem;margin-bottom: 10rem;background-color: white;border: 6px solid #1a58a1;border-radius: 30px;font-size: 40px;padding-bottom: 2px;}
.textepaniere{color: #1a58a1;text-align: center;font-family: 'Barlow', sans-serif;font-weight:500;font-size: 7rem;}
.imageachat{position: relative;}
.visa{display: none;}
.threed{position: absolute;margin-top: 55rem;margin-left:30rem;width: 15rem;}
.visamobile{display: block;position: absolute;margin-top: 59rem;margin-left: 15rem;width: 15rem;}
.paypal{position: absolute;margin-top: 70rem;margin-left: 17rem;width: 25rem;padding-bottom:10rem;}
.laquantite::after{border-bottom: none;}
.traitpanierfn::after{border-bottom: none;}
.logomobilep{width: 30%;height: 30%;}
.navbar-toggler{margin-left: 30rem;font-family: 'Barlow', sans-serif;font-weight:900!important;font-size: 5.25rem!important;}
#navbare{display: none;}
#navbarmobile{display: block;}
a{font-family: 'Barlow', sans-serif;font-weight:900!important;font-size: 4rem!important;text-align: center;color: white!important;text-decoration: none;}
.nav-item{background-color: rgba(0, 0, 0, 0.8);color: white;}
.taille{margin-left: 2rem!important;margin-top: 2rem!important;width: 10%;height: 10%;}
.tlf{font-family: 'Barlow', sans-serif;margin-top: -6rem;font-weight:400!important;font-size: 4rem!important;margin-left: 5rem!important;}
}
